container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: videoanalyzer.settings
  "aws:elasticbeanstalk:container:python":
    WSGIPath: videoanalyzer/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "dashboard/static/"