{% extends "account_generic.html" %}

{% block title %}
	<title> Password Reset </title>
{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <a href="{% url 'home' %}">Home</a>
    <hr>
    {% if validlink %}
        <h4>Enter and confirm new password: </h4>
        <br>
        <form method="POST">
            {% csrf_token %}
            <!-- new password -->
            <table>
                <tr>
                    <td><p>New Password:</p></td>
                    <td>{{ form.new_password1 }}</td>
                    <!-- display errors -->
                    <td>
                        {% for error in form.new_password1.errors %}
                            <p style="color:red">{{error}}<p>
                        {% endfor %}
                    </td>
                </tr>
                <br>
                <!-- confirm password -->
                <tr>
                    <td><p>Confirm Password:</p></td>
                    <td>{{ form.new_password2 }}</td>
                    <!-- display errors -->
                    <td>
                        {% for error in form.new_password2.errors %}
                            <p style="color:red">{{error}}<p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <br>
            <!-- submit button -->
            <div>
                <input type="submit" value="Change Password" />
            </div>
        </form>
    {% else %}
        <h4>Password reset failed. </h4>
        <br>
        <p>The password reset link was invalid, possibly because it has already been used. Please <a href="{% url 'password_reset' %}">request password reset</a> again.</p>
    {% endif %}
{% endblock %}   