{% extends "account_generic.html" %}

{% block title %}
	<title> Password Reset </title>
{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <a href="{% url 'home' %}">Home</a>
    <hr>
    <h4>Link to reset your password is sent via email </h4>
    <br>
    <p>If the email does not arrive in a few minutes:</p>
    <ol>
        <li>check your spam folder</li>
        <li>confirm the email you entered is correct</li>
    </ol>
    <p>Still have trouble? Contract us at support@company.com</p>
{% endblock %}   